tap "jesseduffield/lazygit"
{{ if eq .machine_type "personal" -}}
tap "libsql/sqld"
tap "ngrok/ngrok"
tap "stripe/stripe-cli"
tap "tursodatabase/tap"
{{ end -}}
brew "openssl@3"
brew "bat"
brew "chezmoi"
brew "eza"
brew "fd"
brew "ffmpegthumbnailer"
brew "fzf"
brew "gh"
brew "git-delta"
brew "imagemagick"
brew "jq"
brew "just"
brew "lazygit"
brew "neovim"
brew "nvm"
brew "oh-my-posh"
brew "pnpm"
brew "poppler"
brew "ripgrep"
brew "sevenzip"
brew "thefuck"
brew "tlrc"
brew "tmux"
brew "tree"
brew "yazi"
brew "zoxide"
{{ if eq .machine_type "personal" -}}
brew "neonctl"
brew "redis"
brew "tracy"
brew "stripe/stripe-cli/stripe"
brew "tursodatabase/tap/turso"
cask "font-fira-code"
cask "font-hack-nerd-font"
cask "ngrok"
{{ end -}}
cask "font-symbols-only-nerd-font"
{{ if eq .machine_type "personal" -}}
cask "git-credential-manager"
{{ end -}}
{{ if eq .machine_type "personal" -}}
vscode "aaron-bond.better-comments"
vscode "adpyke.codesnap"
vscode "bradlc.vscode-tailwindcss"
vscode "clinyong.vscode-css-modules"
vscode "codezombiech.gitignore"
vscode "dbaeumer.vscode-eslint"
vscode "docker.docker"
vscode "dubadub.cook"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "gamunu.vscode-yarn"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "golang.go"
vscode "jdinhlife.gruvbox"
vscode "jonathanharty.gruvbox-material-icon-theme"
vscode "mrmlnc.vscode-scss"
vscode "ms-playwright.playwright"
vscode "ms-vsliveshare.vsliveshare"
vscode "neotan.vscode-auto-restart-typescript-eslint-servers"
vscode "qwtel.sqlite-viewer"
vscode "redhat.vscode-yaml"
vscode "rust-lang.rust-analyzer"
vscode "simonsiefke.svg-preview"
vscode "statelyai.stately-vscode"
vscode "streetsidesoftware.code-spell-checker"
vscode "styled-components.vscode-styled-components"
vscode "tamasfe.even-better-toml"
vscode "tyriar.lorem-ipsum"
vscode "vscodevim.vim"
vscode "yoavbls.pretty-ts-errors"
go "github.com/bootdotdev/bootdev"
go "golang.org/x/tools/gopls"
go "honnef.co/go/tools/cmd/staticcheck"
cargo "aichat"
cargo "cargo-generate"
cargo "cargo-watch"
cargo "flamegraph"
{{ end -}}
